<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_block_product_list_collection">
        <observer name="storeConversionCollection" instance="Pyxl\Pixels\Observer\CatalogBlockProductListObserver" />
    </event>
    <event name="checkout_cart_add_product_complete">
        <observer name="addToCartConversionObserver" instance="Pyxl\Pixels\Observer\CheckoutCartAddProductObserver" />
    </event>
</config>
